---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Nav from '../../components/Nav.astro';
import Footer from '../../components/Footer.astro';
import LanguagePicker from '../../components/LanguagePicker.astro';
import HomeContent from '../../components/HomeContent.astro';

const locale = 'en';
---

<BaseLayout title="Comate" description="Your friendly AI workspace companion">
  <Nav>
    <LanguagePicker slot="language-picker" />
    <LanguagePicker slot="language-picker-mobile" />
  </Nav>

  <HomeContent locale={locale} />

  <Footer />
</BaseLayout>
